.dashboard {
  background-color: #f9fafb;
  min-height: 100vh;
}

.MuiPaper-root {
  border-radius: 10px;
  overflow: hidden;
}

.MuiTableCell-head {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
}

.MuiIconButton-root {
  transition: transform 0.2s ease-in-out;
}

.MuiIconButton-root:hover {
  transform: scale(1.1);
  background-color: rgba(172, 168, 255, 0.1);
}

.MuiDialogTitle-root {
  font-weight: bold;
  background-color: #f3f4f6;
}

.MuiDialogContent-root {
  background-color: white;
}

.MuiChip-root {
  font-weight: bold;
}
