.sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(180deg, #4f46e5, #9333ea);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-img {
  width: 50px;
  height: auto;
  border-radius: 8px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  transition: 0.2s;
}

.sidebar-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px 10px;
}

.sidebar-nav .active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px 10px;
}

.icon {
  color: white;
  margin-right: 8px;
}
