.cardvoix {
    max-width: 90%; /* ← OPTIONNEL : limite la largeur à 550px si l'écran est grand */
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('./Capture2.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-left: 5%;
}

.cardvoix:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cover-photo {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    display: flex; 
    gap :20%;
    padding-top: 10px;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}



.langue {
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.info-voix {
    padding: 10px;
    width: 90%;
    color: blue;
}